.share-wrapper {
  background-color: #ece5d5;
  width: 100%;
  padding: 12px 15px;
  border-radius: 8px;
  box-sizing: border-box;
}

.share-inner {
  max-width: 1200px;
}

.share-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.a2a_kit {
  display: flex !important;
  gap: 5px;
  align-items: center;
}

.a2a_kit a,
.a2a_default_style a,
.a2a_svg {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  background-image: none !important;
  padding: 0 !important;
  margin: 0 !important;
}
